.card {
  background-color: var(--header);
  color: var(--text);
  --bs-card-bg: var(--header);
}

.button {
  background-color: var(--button);
  border-bottom: 2px solid var(--button);
  border-right: 2px solid var(--button);
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
  transition: all 0.3s ease-in-out;
}
.button a {
  color: black;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: rgba(255, 184, 5, 0.5);
}

.button:hover a {
  color: var(--text);
  transition: all 0.3s ease-in-out;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
