* {
  --primary: #219ebc;
  --secondary: #8ecae6;
  --header: #033047;
  --text: #e0e0e0;
  --button: #ffb805;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: var(--text);

  --bs-navbar-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.95);

  --bs-nav-tabs-border-color: var(--header) !important;
  --bs-nav-tabs-link-hover-border-color: var(--header) !important;
  --bs-nav-tabs-link-active-color: var(--header);
  --bs-nav-tabs-link-active-bg: var(--button);
  --bs-nav-tabs-link-active-border-color: var(--header);
}

body {
  background-color: var(--primary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.Header {
  background-color: var(--header);
}

.offcanvas-md {
  background-color: var(--header) !important;
}
.content {
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
